<!-- Main Content -->
<div class="container"
infinite-scroll
[infiniteScrollDistance]="2"
[infiniteScrollThrottle]="2"
(scrolled)="onScrollDown()"
(scrolledUp)="onScrollUp()"
>
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div *ngFor="let item of coursesObservable | async | paginate: { itemsPerPage: 5, currentPage: p }">        
        <div class="post-preview">
          <a href="javascript:void(0);">
            <h2 class="post-title">
              {{item.title | truncate : 65 }}
            </h2>
            <h3 class="post-subtitle">
              {{item.description | truncate : 100 }}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="javascript:void(0);">{{item.author}}</a>
            on {{item.date}}</p>
        </div>
        <hr>
      </div>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>